# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# protoc.exe는 제외하지 않음
!protoc.exe

.vs
Output
x64
DummyClient/obj
DummyClient/bin
Lib/Release
Lib/Debug

#필수 라이브러리 제외
!PocoDatamd.lib
!PocoDataODBCmd.lib
!PocoFoundationmd.lib
!libprotobuf.lib
!libprotobufd.lib